// Home Page

$slideAnim: slideAndShrink;
$slideIntoFrame: slideIntoFrame;
$appearIntoFrame: appearIntoFrame;
$disappearOutOfFrame: disappearOutOfFrame;
$loginSlideAnim: loginAnimationSlideShrink;
$loginSlideIntoFrame: loginAnimationAppearIntoFrame;

body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: black;
    overflow: hidden;
    scroll-behavior: none;
}

.main {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: inline-flex;
}

#LoginTop {
    position: absolute;
    right: 0;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0px 1px 1px rgb(116, 116, 116);
    margin: auto;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../components/FRC.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    z-index: 500;
    animation: $slideAnim 2s 1s ease-in-out forwards;

    &.slideOffPage {
        width: 70%;
        animation: $loginSlideAnim 2s 0.1s ease-in-out forwards;
    }

    & #Login {
        padding-top: 35px;
        font-size: 100px;

        &.removeOffPage {
            animation: $disappearOutOfFrame 0.5s ease-in-out forwards;
        }
    }

    & #Test {
        padding-top: 35px;
        font-size: 60px;

        &.removeOffPage {
            animation: $disappearOutOfFrame 0.5s ease-in-out forwards;
        }
    }

    & #MainImg {
        height: 200px;
        width: auto;
        border-radius: 35px;

        &.removeOffPage {
            animation: $disappearOutOfFrame 0.5s ease-in-out forwards;
        }
    }
}

#LoginDetails {
    background-color: rgb(0, 162, 255);
    font-family: "Source Sans", sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 30%;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    z-index: 500;
    animation: $slideIntoFrame 2s 1s ease-in-out forwards;

    &.slideOnPage {
        background-color: rgb(0, 162, 255);
        animation: $loginSlideIntoFrame 2s 0.1s ease-in-out forwards;
    }

    & #LoginArea {
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        border-radius: 20px;
        width: 175%;
        height: 400px;
        opacity: 0;
        animation: $appearIntoFrame 0.5s 3s ease-in-out forwards;

        &.removeOffPage {
            background-color: rgb(0, 162, 255);
            opacity: 1;
            width: 30%;
            animation: $disappearOutOfFrame 0.5s ease-in-out forwards;
        }

        & #Selection {
            font-weight: lighter;
            font-family: "Open Sans", sans-serif;
            font-size: 40px;
            padding-bottom: 50px;
        }

        & #LoginForm {
            display: grid;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            border-radius: 20px;
            width: 100%;
            height: 100%;

            & .mainimg {
                height: 200px;
                width: auto;
                border-radius: 35px;
            }

            & #user {
                width: 350px;
                height: 50px;
                border: none;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                color: black;
                font-size: 17.5px;
                padding-left: 10px;
                margin-bottom: 10px;

                &:focus {
                    outline: none;
                }

                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: black;
                    transition: background-color 5000s ease-in-out 0s;
                    box-shadow: inset 0 0 20px 20px transparent;
                }
            }

            & #typeoftest {
                width: 350px;
                height: 50px;
                border: none;
                border-radius: 0;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                color: white;
                font-size: 17.5px;
                padding-left: 10px;
                margin-bottom: 10px;

                &:disabled {
                    cursor: not-allowed;
                    color: rgb(102, 102, 102);
                }

                &:focus {
                    outline: none;
                }

                &::after {
                    content: "\25BE";
                    /* Unicode character for down arrow */
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    pointer-events: none;
                    /* Ensure arrow doesn't interfere with select functionality */
                }
            }

            & .typeoftest {
                width: 175px;
                height: 50px;
                border: none;
                border-radius: 0px;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                background-color: black;
                color: white;
                font-size: 17.5px;
                padding-left: 10px;
                margin-bottom: 10px;

                &:focus {
                    outline: none;
                }
            }

            & #submit {
                width: 300px;
                height: 50px;
                border: none;
                border-radius: 100px;
                margin: 10px;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                background-color: black;
                color: white;
                font-size: 17.5px;
                font-weight: lighter;
                padding-left: 10px;
                margin-bottom: 10px;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

#footer {
    padding-top: 10px;
    opacity: 0;
    animation: $appearIntoFrame 0.5s 3s ease-in-out forwards;

    &.removeOffPage {
        opacity: 1;
        animation: $disappearOutOfFrame 0.5s ease-in-out forwards;
    }

    & .footerimg {
        width: 20px;
        margin-left: 0px;
    }
}

#RoboticsFooter {
    color: black;
    text-decoration: none;
}

#Error {
    color: red;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
}

hr {
    border: 0;
    height: 10px;
    background-color: transparent;
    background-image: linear-gradient(to right, #fd7a00, black, #00aeff);
}

// Category Selection

.categorymain {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    line-height: 50px;
    font-family: Nanum Gothic, sans-serif;

    & .CategorySelections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        line-height: 50px;
    }

    & .CategoryContent {
        padding-top: 2%;
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        background-color: rgb(0, 162, 255);
    }
}

#SafetySlidesLink,
#CategoryChooseLink {
    color: rgba(0, 26, 255, 0.75);
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

#SafetyLink,
#CategoryChoose {
    width: 50%;
    height: 30%;
    border-radius: 200px;

    &:hover {
        background-color: rgba(25, 129, 25, 0.5);
        width: 50%;
        height: 30%;
        border-radius: 200px;
    }
}

#FRC,
#FTC,
#VEX {
    width: 300px;
    height: 75px;
    font-size: 50px;
    border-radius: 200px;
    border-style: none;

    :active {
        background-color: rgba(25, 129, 25, 0.5);
        width: 300px;
        height: 75px;
        font-size: 50px;
        border-radius: 200px;
        border-style: none;
    }
}

#FRCOptions,
#FTCOptions,
#VEXOptions {
    display: none;

    input {
        width: 200px;
    }

    grid-template-columns: 1fr 1fr;
    line-height: 50px;
}

#CategoryNext {
    width: 300px;
    height: 75px;
    font-size: 50px;
    border-radius: 200px;
    border-style: none;
}

// Main Test

.testmain {
    height: 100%;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    display: inline-flex;

    #image {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 600%;
        height: 600%;
        transform: rotate(15deg);
        z-index: 3;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../components/4079.png");
        background-size: 0.75%;
        background-position: center;
        background-repeat: repeat;
        animation: slowlyMoveBackground 480s linear infinite;

        @keyframes slowlyMoveBackground {
            0% {
                background-position: 0% 0%;
            }

            100% {
                background-position: 100% 100%;
            }
        }
    }

    .QuestionContent {
        position: relative;
        width: 60%;
        height: 100vh;
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        z-index: 3;

        .QuestionContainer {
            z-index: 4;

            #QuestionTitle {
                padding-top: 20px;
                font-family: 'Jost', sans-serif;
                font-size: 50px;
                font-weight: lighter;
                padding-left: 10px;
                padding-bottom: 10px;
                display: grid;
                justify-content: start;

            }

            #ContentDiv {
                width: 1000px;
                height: 600px;
                background-color: rgba(124, 124, 124, 1);
                z-index: 1;
                border-radius: 20px;
                display: block;
                padding-left: 20px;
                align-items: center;
                align-content: center;
            }

            #QuestionContainerContent {
                width: 90%;
                height: 70%;
                color: white;
                font-weight: bold;
                letter-spacing: 2px;
                background-color: rgba(41, 41, 41, 0.7);
                display: grid;
                align-items: center;
                align-content: center;
                justify-content: center;
                justify-items: center;
                border-radius: 20px;
                font-size: 35px;
                z-index: 100;
            }

            #QuestionLabel {
                font-family: 'Barlow', sans-serif;
                margin-left: 10px;
                margin-right: 10px;
                ;
            }
        }
    }

    .QuestionSelections {
        width: 45%;
        height: 100vh;
        background-color: rgb(0, 162, 255);
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        z-index: 1000;

        .choices {
            display: grid;
            justify-content: space-around;
            justify-self: center;
            justify-items: center;
        }

        #Apply {
            font-family: Nanum Gothic, sans-serif;
            font-size: 60px;
        }

        .QuestionOption {
            font-family: 'Jost', sans-serif;
            border-width: 4px;
            border-style: solid;
            border-color: black;
            width: 700px;
            height: 100px;
            background-color: rgba(124, 124, 124, 0);
            border-radius: 20px;
            display: grid;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            font-size: 35px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;

            &:hover {
                background-color: rgba(0, 255, 0, 0.6);
                transition: background-color linear 0.1s;
            }

            &.active {
                background-color: rgba(0, 255, 0, 0.8);
                transition: background-color linear 0.1s;

                &:hover {
                    background-color: rgba(255, 0, 0, 0.8);
                }
            }

        }
    }
}

.QuestionOption {
    background-color: rgba(124, 124, 124, 0.7);
}

.ProgressionButtons {
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 50px;
    .Progression {
        width: 22.5%;
        height: 25%;
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        border-color: black;
        background-color: transparent;
    }
}

// Animations

@keyframes slideAndShrink {
    0% {
        width: 100%;
        height: 100vh;
    }

    100% {
        width: 70%;
        height: 100vh;
    }
}

@keyframes slideIntoFrame {
    0% {
        width: 0%;
        height: 100vh;
    }

    100% {
        width: 30%;
        height: 100vh;
    }
}

@keyframes appearIntoFrame {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes disappearOutOfFrame {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-30px);
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

@keyframes loginAnimationSlideShrink {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes loginAnimationSlideIntoFrame {
    0% {
        width: 0%;
        height: 100vh;
    }

    100% {
        width: 70%;
        height: 100vh;
    }
}

@keyframes loginAnimationAppearIntoFrame {
    0% {
        width: 30%;
        height: 100vh;
        background-color: rgb(0, 162, 255);
    }

    100% {
        background-color: rgb(0, 162, 255);
        width: 100%;
        height: 100vh;
    }
}