$slideAnim: slideAndShrink 2s 1s ease-in-out forwards;
$slideIntoFrame: slideIntoFrame 2s 1s ease-in-out forwards;
$appearIntoFrame: appearIntoFrame 0.5s 3s ease-in-out forwards;

body {
    background-color: rgb(255, 255, 255);
    font-family: "Segoe UI", Arial, sans-serif;
    color: black;
    overflow: hidden;
}

.main {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 75px;
}

.LoginTop {
    font-family: "Open Sans", sans-serif;
    text-shadow: 0px 1px 1px rgb(116, 116, 116);
    margin: auto;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../components/FRC.jpg');    background-size: cover;
    width: 100%;
    height: 100vh;
    float: right;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    animation: $slideAnim;
    & #Login {
        padding-top: 35px;
        font-size: 100px;
    }

    & #Test {
        padding-top: 35px;
        font-size: 60px;
        font-weight: lighter;
    }

    & .mainimg {
        height: 200px;
        width: auto;
        border-radius: 35px;
    }
}

.LoginDetails {
    background-color: rgb(0, 162, 255);
    font-family: "Source Sans", sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 30%;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    animation: $slideIntoFrame;
    & #LoginArea {
        border-image: linear-gradient(to left, rgb(0, 157, 255), rgb(0, 0, 0), rgb(255, 94, 0));
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        border-radius: 20px;
        width: 175%;
        height: 400px;
        opacity: 0;
        animation: $appearIntoFrame;
        & #Selection {
            font-weight: lighter;
            font-family: "Open Sans", sans-serif;
            font-size: 40px;
            padding-bottom: 50px;
        }

        & #LoginForm {
            display: grid;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            border-radius: 20px;
            width: 100%;
            height: 100%;

            & #Login {
                padding-top: 35px;
                font-size: 100px;
            }

            & #Test {
                padding-top: 35px;
                font-size: 60px;
            }

            & .mainimg {
                height: 200px;
                width: auto;
                border-radius: 35px;
            }

            & #user {
                width: 350px;
                height: 50px;
                border: none;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                color: black;
                font-size: 17.5px;
                padding-left: 10px;
                margin-bottom: 10px;

                &:focus {
                    outline: none;
                }

                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus, 
                &:-webkit-autofill:active{
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: black;
                    transition: background-color 5000s ease-in-out 0s;
                    box-shadow: inset 0 0 20px 20px transparent;
                }
            }

            & #typeoftest {
                width: 350px;
                height: 50px;
                border: none;
                border-radius: 0;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                color: white;
                font-size: 17.5px;
                padding-left: 10px;
                margin-bottom: 10px;

                &:disabled {
                    cursor: not-allowed;
                    color: rgb(102, 102, 102);
                }

                &:focus {
                    outline: none;
                }

                &::after {
                    content: "\25BE";
                    /* Unicode character for down arrow */
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    pointer-events: none;
                    /* Ensure arrow doesn't interfere with select functionality */
                }
            }

            & .typeoftest {
                width: 175px;
                height: 50px;
                border: none;
                border-radius: 0px;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                background-color: black;
                color: white;
                font-size: 17.5px;
                padding-left: 10px;
                margin-bottom: 10px;

                &:focus {
                    outline: none;
                }
            }

            & #submit {
                width: 300px;
                height: 50px;
                border: none;
                border-radius: 100px;
                margin: 10px;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                background-color: black;
                color: white;
                font-size: 17.5px;
                font-weight: lighter;
                padding-left: 10px;
                margin-bottom: 10px;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.footer {
    padding-top: 10px;
    opacity: 0;
    animation: $appearIntoFrame;
    & .footerimg {
        width: 20px;
        margin-left: 0px;
    }
}

#RoboticsFooter {
    color: black;
    text-decoration: none;
    
}

#Error {
    color: red;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
}

@keyframes slideAndShrink {
    0% {
        width: 100%;
        height: 100vh;
    }

    100% {
        width: 70%;
        height: 100vh;
    }
}

@keyframes slideIntoFrame {
    0% {
        width: 0%;
        height: 100vh;
    }

    100% {
        width: 30%;
        height: 100vh;
    }
}

@keyframes appearIntoFrame {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes disappearOutOfFrame {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(15px);
    }
}

@keyframes loginAnimationSlideShrink {
    0% {
        width: 70%;
        height: 100vh;
        opacity: 1;
    }

    5% {
        opacity: 0;
    }

    100% {
        width: 0%;
        height: 100vh;
    }
}

@keyframes loginAnimationSlideIntoFrame {
    0% {
        width: 0%;
        height: 100vh;
    }

    100% {
        width: 70%;
        height: 100vh;
    }
}

@keyframes loginAnimationAppearIntoFrame {
    0% {
        width: 30%;
        height: 100vh;
    }

    100% {
        width: 100%;
        height: 100vh;
    }
}