.pageClosed {
    opacity: 1;
    animation: moveUpDisappear 1s ease-in-out forwards !important;
}

.mainElements {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .left {
        &.mainCloseLeft {
            width: 30%;
            animation: afterLoadShrinkOut 1.25s 0.5s ease-in-out forwards;
        }

        display: flex;
        width: 0;
        height: 100vh;
        background-color: rgb(0, 162, 255);
        animation: shrinkOut 2s 1s ease-in-out forwards;
        .leftContent {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Work Sans', sans-serif;
            .selectionTitle {
                font-size: 3em;
                font-weight: 300;
                margin-bottom: 0.5em;
                opacity: 0;
                animation: moveUpAppear 1s 3s ease-in-out forwards;
            }
            .loginForm {
                width: 80%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                justify-content: space-evenly;

                .username {
                    width: 18.2vw;
                    height: 4.6vh;
                    border: none;
                    background-color: transparent;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                    color: bclak;
                    font-size: 0.9vw;
                    padding-left: 0.5vw;
                    margin-bottom: 0.9vh;
                    opacity: 0;
                    animation: moveUpAppear 1s 3.2s ease-in-out forwards;

                    &:focus {
                        outline: none;
                    }

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: black;
                        transition: background-color 5000s ease-in-out 0s;
                        box-shadow: inset 0 0 20px 20px transparent;
                    }
                }

                .typeOfTest {
                    width: 18.2vw;
                    height: 4.6vh;
                    border: none;
                    border-radius: 0;
                    background-color: transparent;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                    color: white;
                    font-size: 0.9vw;
                    padding-left: 0.5vw;
                    margin-bottom: 0.9vh;
                    opacity: 0;
                    animation: moveUpAppear 1s 3.4s ease-in-out forwards;

                    &:disabled {
                        cursor: not-allowed;
                        color: rgb(102, 102, 102);
                    }

                    &:focus {
                        outline: none;
                    }

                    &::after {
                        content: "\25BE";
                        /* Unicode character for down arrow */
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        pointer-events: none;
                        /* Ensure arrow doesn't interfere with select functionality */
                    }

                    .typeOfTestOption {
                        width: 9.1vw;
                        height: 4.6vh;
                        border: none;
                        border-radius: 0px;
                        background-color: transparent;
                        border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                        background-color: black;
                        color: white;
                        font-size: 9.1vw;
                        padding-left: 0.5vw;
                        margin-bottom: 0.9vh;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .submit {
                    width: 15.6vw;
                    height: 4.6vh;
                    border: none;
                    border-radius: 100px;
                    margin: 0.5vw 0.9vh;
                    background-color: transparent;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                    background-color: black;
                    color: white;
                    font-size: 0.9vw;
                    font-weight: lighter;
                    padding-left: 0.5vw;
                    margin-bottom: 0.9vh;
                    cursor: pointer;
                    opacity: 0;
                    animation: moveUpAppear 1s 3.6s ease-in-out forwards;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .footer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1.1vw;
                font-weight: 300;
                .OARobotics {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    animation: moveUpAppear 1s 3.8s ease-in-out forwards;
                    .footerimg {
                        width: 8vh;
                        height: 8vh;
                        background-image: url('../public/4079-transparent.png');
                        z-index: 100;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .revisionDate {
                    text-align: center;
                    opacity: 0;
                    animation: moveUpAppear 1s 4s ease-in-out forwards;
                }
            }
        }
    }

    .right {
        display: flex;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../public/FRC.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
        animation: shrinkIn 2s 1s ease-in-out forwards;

        &.mainCloseRight {
            width: 70%;
            animation: afterLoadShrinkIn 1.25s 0.5s ease-in-out forwards;
        }

        .rightContent {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Work Sans', sans-serif;
            color: white;

            .pageName {
                font-size: 5vw;
                font-weight: 300;
                margin-bottom: 0.5em;
                opacity: 0;
                animation: moveUpAppear 1.3s ease-in-out forwards;
            }

            .testTitle {
                font-size: 2.5vw;
                font-weight: 300;
                opacity: 0;
                animation: moveUpAppear 1.3s ease-in-out forwards;
            }
        }
    }
}

@keyframes shrinkIn {
    0% {
        width: 100%;
    }

    100% {
        width: 70%;
    }
}

@keyframes shrinkOut {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@keyframes afterLoadShrinkOut {
    0% {
        width: 30%;
    }

    100% {
        width: 100%;
    }
}

@keyframes afterLoadShrinkIn {
    0% {
        width: 70%;
    }

    100% {
        width: 0;
    }
}

@keyframes moveUpAppear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes moveUpDisappear {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(-5%);
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    
}