.show {
    display: block;
    opacity: 1;
}

.pageClosedSelection {
    animation: moveUpDisappearAfterLoad 0.5s ease-in-out forwards !important;
}

.Selection {
    .mainElements {
        font-size: 1.5rem;
        font-weight: 500;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .topBar {
            width: 100%;
            height: 100vh;
            background-color: rgb(0, 162, 255);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            animation: onLoadMoveUpAppear 1s ease-in-out forwards;

            &.topBarClose {
                animation: afterLoadShrinkOut 1s ease-in-out forwards;
            }

            .categoryTitle {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                animation: moveUpAppear 1.2s, 1s ease-in-out forwards;
            }

            .categoryLabel {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                animation: moveUpAppear 1.2s, 1s ease-in-out forwards;
            }

            .buttonSection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 100%;
                animation: moveUpAppear 1.2s, 1s ease-in-out forwards;

                .categoryButton {
                    width: 50%;
                    height: 25%;
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    border: none;
                    background-color: white;
                    color: black;
                    font-size: 1.5rem;
                    font-weight: 500;
                    border-radius: 10px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .selectionContent {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 0;
            animation: onLoadMoveUpAppear2 1s ease-in-out forwards;

            &.selectionContentClose {
                animation: afterLoadShrinkIn 1s ease-in-out forwards;
            }

            .resourcesTab {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                animation: moveUpAppear 1s 0.1s ease-in-out forwards;
                opacity: 0;

                .resourcesTitle {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    font-weight: 500;
                }

                .linksSection {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            .categoriesTab {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                animation: moveUpAppear 1s 0.1s ease-in-out forwards;

                .categoriesTitle {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    font-weight: 500;
                }

                .categorySelection {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    max-width: 80%;

                    .categoryMainDiv {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 2vw;

                        .categoryButton {
                            padding: 1vh;
                            border-radius: 10px;
                            border: none;
                            background-color: rgb(184, 184, 184);
                            width: calc(100% + 2vw);
                            font-size: 2vw;
                            cursor: pointer;

                            &:hover {
                                cursor: pointer;
                            }

                            &.selected {
                                background-color: rgb(0, 255, 13);
                                transition: all 0.2s ease-in-out;
                                color: black;
                            }
                        }

                        // .categoryOptions {
                        //     display: none;
                        //     flex-direction: column;
                        //     justify-content: center;
                        //     align-items: center;
                            
                        //     &.show {
                        //         display: flex;
                        //         opacity: 1;
                        //     }
                        //     .categorySubButton {
                        //         padding: 1vh;
                        //         border-radius: 10px;
                        //         border: none;
                        //         background-color: rgb(184, 184, 184);
                        //         width: 100%;
                        //         font-size: 1rem;
                        //         margin: 1vh;
                        //         transition: all 0.2s ease-in-out;

                        //         &:hover {
                        //             cursor: pointer;
                        //         }

                        //         &.selected {
                        //             background-color: rgb(0, 255, 13);
                        //             transition: all 0.2s ease-in-out;
                        //             color: black;
                        //         }
                        //     }
                        // }
                    }
                }
            }
        }
    }
}

@keyframes onLoadMoveUpAppear {
    0% {
        height: 100%;
    }

    100% {
        height: 30vh;
    }
    
}

@keyframes onLoadMoveUpAppear2 {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 70vh;
    }
}

@keyframes moveUpAppear {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes moveUpDisappearAfterLoad {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(25%);
        opacity: 0;
    }
}

@keyframes afterLoadShrinkOut {
    0% {
        height: 30vh;
    }

    100% {
        height: 100vh;
    }
    
}

@keyframes afterLoadShrinkIn {
    0% {
        height: 70vh;
    }

    100% {
        height: 0;
    }
    
}

@media (max-width: 1000px) {
    .Selection {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;

        .mainElements {
            width: 100vw;
            .topBar {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                animation: onLoadMoveUpAppearMobile 1s ease-in-out forwards;
            
                .categoryTitle {
                    width: 100%;
                    height: 30vh;
                    font-size: 4vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .categoryLabel {
                    width: 75vw;
                    height: 7vh;
                    font-size: 2vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                .buttonSection {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    .categoryButton {
                        width: 25%;
                        height: 70%;
                        border: none;
                        background-color: white;
                        color: black;
                        font-size: 3vh;
                        font-weight: 500;
                        border-radius: 10px;
            
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .selectionContent {
                display: flex;
                flex-direction: column;
                width: 100vw;
                height: 50%;
                color: black;

                .resourcesTab {
                    width: 100vw;
                    height: min-content;
                    padding-top: 2vh;
                    padding-bottom: 2vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .resourcesTitle {
                        width: 100vw;
                        height: min-content;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 3vh;
                        font-weight: 500;
                        margin: 0;
                        padding: 0;
                    }

                    .resourcesLabel {
                        width: 100vw;
                        height: min-content;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 2vh;
                        font-weight: 500;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                    }
            
                    .linksSection {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        width: 100%;
                        height: min-content;
                        font-size: 1.25vh;
                        padding: 0;
                    }
                }

                .categoriesTab {
                    width: 100%;
                    height: 30%;
                    margin-top: 2vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .categoriesTitle {
                        width: 100%;
                        height: min-content;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 3vh;
                        font-weight: 500;
                    }

                    .categoriesLabel {
                        width: 100%;
                        height: min-content;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 2vh;
                        font-weight: 500;
                        text-align: center;
                    }

                    .categorySelection {
                        display: flex;
                        flex-direction: row;
                        width: 100vw;
                        height: 100%;
                        justify-content: center;

                        .categoryMainDiv {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .categoryButton {
                                border-radius: 10px;
                                border: none;
                                background-color: rgb(184, 184, 184);
                                height: 13vw;
                                width: min-content;
                                font-size: 8vw;
                                cursor: pointer;
                            }

                            .categoryOptions {
                                display: none;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                
                                &.show {
                                    display: flex;
                                    opacity: 1;
                                }
                                .categorySubButton {
                                    padding: 1vh;
                                    border-radius: 10px;
                                    border: none;
                                    background-color: rgb(184, 184, 184);
                                    width: 100%;
                                    height: 4vh;
                                    font-size: 1.5vh;
                                    margin: 0.25vh;
                                    transition: all 0.2s ease-in-out;
            
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @keyframes onLoadMoveUpAppearMobile {
        0% {
            height: 100%;
        }
    
        100% {
            height: 30vh;
        }
        
    }
}