.show {
    display: block;
    opacity: 1;
}

.Selection {
    .mainElements {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .topBar {
            width: 100%;
            height: 30vh;
            background-color: rgb(0, 162, 255);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .categoryTitle {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .categoryLabel {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .buttonSection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 100%;

                .categoryButton {
                    width: 50%;
                    height: 25%;
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    border: none;
                    background-color: white;
                    color: black;
                    font-size: 1.5rem;
                    font-weight: 500;
                    border-radius: 10px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .selectionContent {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 70vh;

            .resourcesTab {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .resourcesTitle {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    font-weight: 500;
                }

                .linksSection {
                    font-family: 'Work Sans', sans-serif;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            .categoriesTab {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .categoriesTitle {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    font-weight: 500;
                    font-family: "Work Sans", sans-serif;
                }

                .categorySelection {
                    display: flex;
                    flex-direction: row;

                    .categoryMainDiv {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 2vw;

                        .categoryButton {
                            padding: 1vh;
                            border-radius: 10px;
                            border: none;
                            background-color: rgb(184, 184, 184);
                            width: calc(100% + 2vw);
                            font-size: 2.5rem;
                            font-family: "Work Sans", sans-serif;
                            cursor: pointer;
                        }

                        .categoryOptions {
                            display: none;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            
                            &.show {
                                display: flex;
                                opacity: 1;
                            }
                            .categorySubButton {
                                padding: 1vh;
                                border-radius: 10px;
                                border: none;
                                background-color: rgb(184, 184, 184);
                                width: 100%;
                                font-size: 1rem;
                                font-family: "Work Sans", sans-serif;
                                margin: 1vh;
                                transition: all 0.2s ease-in-out;

                                &:hover {
                                    cursor: pointer;
                                }

                                &.selected {
                                    background-color: rgb(0, 255, 13);
                                    transition: all 0.2s ease-in-out;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}