.testPage {
    height: 100vw;
    width: 100vw;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 0;
    left: 0;

    .backgroundImage {
        position: absolute;
        top: -50vw;
        left: -50vw;
        width: 600%;
        height: 600%;
        transform: rotate(10deg);
        z-index: 3;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../public/4079.png");
        background-size: 10vh;
        background-position: center;
        background-repeat: repeat;
        animation: moveBackground 2s linear, slowlyMoveBackground 320s 2s linear infinite;
    }

    .questionContent {
        width: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        animation: shrinkScreen 1.6s ease-in-out forwards;

        .questionContainer {
            background-color: rgba(124, 124, 124, 1);
            width: 90%;
            height: 65%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;

            .contentDiv {
                background-color: rgba(59, 59, 59, 1);
                border-radius: 20px;
                display: flex;
                padding-left: 20px;
                align-items: center;
                align-content: center;
                flex-direction: column;
                justify-content: space-around;
                width: 90%;
                height: 85%;

                .questionDetails {
                    background-color: rgba(32, 32, 32, 1);
                    width: 95%;
                    height: 8%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 1vw;
                    border-radius: 20px;
                    margin-right: 1vw;
                }

                .questionContainerContent {
                    background-color: rgba(32, 32, 32, 1);
                    width: 95%;
                    height: 65%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1vw;
                    border-radius: 20px;
                    margin-right: 1vw;

                    .questionDescription {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        font-size: 4vh;
                        padding-left: 2vw;
                        padding-right: 2vw;
                        opacity: 0;
                        animation: appearIntoFrame 0.5s 1.8s ease-in-out forwards;
                    }
                }
            }
        }
    }

    .selectionContent {
        background-color: rgb(0, 162, 255);
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        z-index: 1000;
        animation: expandScreen 1.6s ease-in-out forwards;

        .selectQuestionTitle {
            color: black;
            font-size: 4vh;
            font-weight: 600;
            margin-bottom: 2vh;
            text-align: center;
        }

        .questionOptionsDivContainer {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;

            .questionChoices {
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .submissionDiv {
                    width: 100%;
                    .progressionButtons {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        height: fit-content;
                        margin-top: 2vh;

                        >* {
                            font-size: 4vh;
                            padding: 0.2vw;
                            padding-left: 0.5vw;
                            padding-right: 0.5vw;
                            border-radius: 15px;
                            border-width: 4px;
                            border-color: black;
                            border-style: solid;
                            transition: all 0.2s ease-in-out;
                            background-color: transparent;

                            &:hover {
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.2);
                            }
                        }
                    }

                    .score {
                        font-size: 4vh;
                        text-align: center;
                    }
                }

                .answerChoice {
                    font-size: 3vh;
                    width: 30vw;
                    padding: 0.75vw;
                    border-radius: 20px;
                    border-width: 4px;
                    border-color: black;
                    border-style: solid;
                    transition: all 0.2s ease-in-out;
                    text-align: center;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.2);
                    }

                    &.selected {
                        background-color: rgb(0, 255, 0);
                    }
                }
            }
        }

        >* {
            opacity: 0;
            animation: appearIntoFrame 0.5s 1.8s ease-in-out forwards;
        }
    }
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        /* ease-in-out */
    }

    25% {
        background-position: 100% 100%;
        animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        /* ease-out */
    }

    40% {
        background-position: 50% 50%;
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        /* ease-in */
    }

    100% {
        background-position: 0% 0%;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        /* ease-in-out */
    }
}

@keyframes slowlyMoveBackground {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes appearIntoFrame {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes expandScreen {
    0% {
        width: 100%;
    }

    100% {
        width: 40vw;
    }
}

@keyframes shrinkScreen {
    0% {
        width: 0;
    }

    100% {
        width: 60vw;
    }
}

@media (max-width: 1000px) {
    .testPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;

        .backgroundImage {
            position: absolute;
            top: -50vh;
            left: -50vh;
            width: 600%;
            height: 600%;
            transform: rotate(10deg);
            z-index: 3;
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../public/4079.png");
            background-size: 10vh;
            background-position: center;
            background-repeat: repeat;
            animation: moveBackground 2s linear, slowlyMoveBackground 320s 2s linear infinite;
        }

        .questionContent {
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            animation: loadOutFrame 1.6s ease-in-out forwards;

            .questionContainer {
                background-color: rgba(124, 124, 124, 1);
                width: 90%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;

                .contentDiv {
                    background-color: rgba(59, 59, 59, 1);
                    border-radius: 20px;
                    display: flex;
                    padding-left: 20px;
                    align-items: center;
                    align-content: center;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 90%;
                    height: 85%;

                    .questionDetails {
                        background-color: rgba(32, 32, 32, 1);
                        width: 95%;
                        height: 8%;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 1vw;
                        border-radius: 20px;
                        margin-right: 1vw;
                    }

                    .questionContainerContent {
                        background-color: rgba(32, 32, 32, 1);
                        width: 95%;
                        height: 65%;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1vw;
                        border-radius: 20px;
                        margin-right: 1vw;

                        .questionDescription {
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                            font-size: 3vh;
                            padding-left: 2vw;
                            padding-right: 2vw;
                            opacity: 0;
                            animation: appearIntoFrame 0.5s 1.8s ease-in-out forwards;
                        }
                    }
                }
            }
        }

        .selectionContent {
            width: 100%;
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            animation: loadInFrame 1.6s ease-in-out forwards;

            .selectQuestionTitle {
                color: black;
                font-size: 4vh;
                font-weight: 600;
                margin-bottom: 2vh;
                text-align: center;
            }

            .questionOptionsDivContainer {
                width: 100vw;
                overflow-y: auto;

                .questionChoices {
                    width: 100%;

                    .answerChoice {
                        width: 80%;
                        height: min-content;
                        padding: 1.5vh;
                    }
                }
            }
        }
    }

    @keyframes loadInFrame {
        0% {
            height: 100vh;
            width: 100%;
        }

        100% {
            height: 70vh;
            width: 100%;
        }
    }

    @keyframes loadOutFrame {
        0% {
            height: 00vh;
            width: 100%;
        }

        100% {
            height: 30vh;
            width: 100%;
        }
    }
}